<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card outlined class="mx-auto">
          <v-toolbar flat dense>

            <v-toolbar-title>Todos</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-text-field hide-details single-line append-outer-icon="mdi-playlist-plus"
                          v-model="newTodoMessage"
                          @keydown.enter="addTodo" @click:append-outer="addTodo"
                          label="Create"></v-text-field>
            <v-btn icon @click="reloadList">
              <v-icon>mdi-reload</v-icon>
            </v-btn>
          </v-toolbar>
          <v-divider></v-divider>
          <v-list>
            <v-list-item-group multiple v-model="selectedTodo" @change="selectTodos">
              <v-list-item
                  v-for="(item, index) in todoList"
                  :key="index"
                  :value="item"
                  active-class="blue--text text--lighten-2">
                <template v-slot:default="{ active }">
                  <v-list-item-action>
                    <v-checkbox :input-value="active"
                                color="blue lighten-2"></v-checkbox>
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title>{{ item.message }}</v-list-item-title>
                  </v-list-item-content>
                </template>
              </v-list-item>
            </v-list-item-group>
          </v-list>

        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import TodoItems from "@/service/api/TodoItems";

export default {
  name: 'HelloWorld',

  data: () => ({
    newTodoMessage: '',
    selectedTodo: [],
    todoList: [],
  }),
  mounted() {
    this.loadList();
  },
  methods: {
    loadList() {
      TodoItems.getAll().then(response => {
        this.todoList = response
        this.selectedTodo = this.todoList.filter(item => item.finished)
      });
    },
    reloadList() {
      this.loadList();
    },
    addTodo() {
      console.log(this.newTodoMessage)
      TodoItems.add(this.newTodoMessage)
          .then(response => {
            this.todoList.unshift(response)
          })
    },
    selectTodos(items) {
      let selectedIds = items.map(item => item._id);
      let unselectedIds = this.todoList.filter(item => item.finished === true && !selectedIds.includes(item._id)).map(item => item._id);
      TodoItems.selectTodos(selectedIds, unselectedIds).then(response => {
        this.todoList = response
        this.selectedTodo = this.todoList.filter(item => item.finished)
      })
    }
  }
}
</script>
